* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
}

input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type="number"]::-moz-inner-spin-button {
    -moz-appearance: none;
}

input[type="number"]::-webkit-inner-spin-button {
    pointer-events: none;
}

body{
    background-color:#085454;
    padding-top: 100px;
}

header {
    display: flex;
    align-items: center;
    margin-bottom: 40px;

}

header img {
    height: 36px;
    margin-right: 16px;
}

header h1 {
    font-size: 40px;
    font-weight: bold;
    color:#FFFFFF;
}

.container {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
}

form button {
    background-color:#FFB30D;
    color: #FFFFFF;
    border-radius: 8px;
    font-size: 18px;
    border: none;
    font-weight: bold;
    cursor:pointer;
    padding: 5px;
}

form input {
    font-size: 18px;
    background-color:#939393;
    color: #FFFFFF;
    border-radius: 8px;
    border: none;
    border-bottom: 2px solid black ;
    padding: 5px;
}

form {
    display: flex;
    max-width: 640px;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 20px;
    color: white;
}

table {
    border-radius: 5px;
    width: 100%;
    background-color: #d2d2d2;
    padding-bottom: 4px;

}

table th {
    border-bottom: 1.75px solid white;
    padding: 9px;
    font-size: 18px;
    font-weight: bold;
}

table td {
    text-align: center;
    font-size: 18px;
    padding:4px 0px ;
    border-bottom: 0.75px solid white;
}

table td img {
    height: 28px;
}

.resultado {
    padding: 2.75px;
    font-weight: bold;
    font-size: 15px;
    color: white;
    background-color: green;
    border-radius: 8px;
}

.aprovado {
    background-color: green;
}

.reprovado {
    background-color: red;
}

.nota-atividade {
    width: 70px;
}

table tfoot {
    font-weight: bold;
}